<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/call</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.project.Application</servlet-class>
    
    <init-param>
    	<param-name>email</param-name>
    	<param-value>dhananjayansb@gmail.com</param-value>
    </init-param>
  </servlet>
   <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/call2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.project.App2</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/gcall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s3</servlet-name>
    <servlet-class>com.project.Gsearch</servlet-class>
  </servlet>
  
  <context-param>
  	<param-name>phone</param-name>
  	<param-value>8056772048</param-value>
  </context-param>
</web-app>